
#NC_Master .cart-info {

  color: #999999;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px white, 0 1px rgba(0, 0, 0, 0.05) inset;
  
  padding: 12px 15px;
  margin-top: 16px;
  margin-bottom: 16px;
  
  *zoom: 1;
  
  font-size: 14px;
  
}
#NC_Master .cart-info:before{
	display: table;
	content: "";  
}
#NC_Master .cart-info:after {
	display: table;
	content: "";
	clear: both;
}

#NC_Master .cart-info .item-count {
  padding: 0;
  float:left;
  font-size: 14px;
}
#NC_Master .cart-info .item-count .info {
  color: #666666;
  font-weight: bold;
}


#NC_Master .cart-info .cart-subtotal {
  padding: 0;
  float: right;
}

#NC_Master .cart-info .cart-subtotal .price {
  margin-left: 10px;
  color: #77d;
  font-weight: bold;
}
