
.btn.black 
{

}




.btn.dropdown 
{
    background: #3276B1;
}
.btn.dropdown:hover, 
.btn.dropdown:focus, 
.btn.dropdown:active, 
.btn.dropdown.active {
    background-color: #3276B1;
    border-color: #285E8E;
    color: #FFFFFF;
}
